@media (min-width: 800px) {
  body {
    padding-left: 5%;
    padding-right: 5%;
  }

  #tit,
  #subt {
    font-size: 10vw;
  }

  #inicio {
    display: grid;
    grid-template-columns: 4fr 6fr;
    gap: 30px;
  }

  #resumao {
    font-size: 1.5vw;
  }

  #divisor {
    width: 40%;
  }

  #inicio {
    max-height: 0px;
  }

  #perfil {
    width: 70%;
  }

  #foto-perfil {
    position: inherit;

    border-radius: 30%;
  }

  #quadrado {
    display: none;
  }

  #informacoes {
    display: none;
  }

  #euHoje,
  #skills {
    display: inline-block;
    width: 45%;
    transform: translate(0px, -100px);
  }

  #skills {
    margin-left: 10%;
  }

  #experienciasProfissionais {
    transform: translate(0px, -100px);
  }

  #voltarInicio {
    height: 60px;
  }

  #euHoje,
  #experienciasProfissionais {
    border-radius: 5px;
    padding: 40px;
  }
}
