@media (min-width: 800px) {
  body {
    padding-left: 5%;
    padding-right: 5%;
  }

  #tit,
  #subt {
    font-size: 10vw;
  }

  #inicio {
    display: grid;
    grid-template-columns: 4fr 6fr;
    gap: 30px;
  }

  #resumao {
    font-size: 1.5vw;
  }

  #divisor {
    width: 40%;
  }

  #inicio {
    max-height: 0px;
  }

  #perfil {
    width: 70%;
    transform: translate(0px, -35%);
  }

  #foto-perfil {
    position: inherit;

    border-radius: 30%;
  }

  #quadrado {
    display: none;
  }

  #informacoes {
    transform: translate(0px, 500px);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5fr 3fr 1fr;
    gap: 20px;
  }

  #euHoje {
    border-radius: 10px 10px 0px 0px;

    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  #skills {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  #experienciasProfissionais {
    border-radius: 0px 0px 10px 10px;

    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  #euHoje,
  #experienciasProfissionais,
  #skills {
    margin: 0;
  }

  #voltarInicio {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    height: 60px;
  }
}
