@media (min-width: 800px) {
  body {
    padding-left: 5%;
    padding-right: 5%;
  }

  #tit,
  #subt {
    font-size: 10vw;
  }

  #inicio {
    display: flex;
  }

  #resumao {
    width: 40%;
    font-size: 1.5vw;
  }

  #divisor {
    width: 40%;
  }

  #inicio {
    display: flex;
    background-color: aliceblue;
  }

  #perfil {
    position: relative;
    width: 50%;
    transform: translate(0px, -30%);
  }

  #foto-perfil {
    position: relative;
    border-radius: 30%;
  }

  #quadrado {
    display: none;
  }

  #contatos {
    width: 40%;
  }
}
